Source: yksofttoken
Maintainer: Arran Cudbard-Bell <a.cudbardb@freeradius.org>
Standards-Version: 4.5.0
Priority: optional
Build-Depends:
 libyubikey-dev,
 libbsd-dev
Section: utils

Package: yksofttoken
Architecture: any
Depends:
 libyubikey0,
 libbsd0
Description: Yubikey hardware token emulator
 Produces HOTP One Time Passcodes in Yubikey format, roughly
 following the behaviour of a hardware Yubikey.  Useful for
 establishing M2M connections for VPNs which require 2FA.
